
   
   
section {
    min-height: 420px;
}

.container-footer {
    margin-top: 2rem ;
  }
  
  .footer-content {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .social-media img {
    width: 28px;
    margin-right: 10px;
    transform: scale(0.8);
    transition: transform 250ms ease-in-out;
  }
  
  .footer-content p,
    .footer-content ul li {
      font-size: 0.9rem;
      list-style-type: none;
    }
  
    .footer-content li a {
      text-decoration: none;
      margin: 2px;
      
    }
    .social-media img:hover {
      transform: scale(1);
    }
  
  